{% extends 'base.html' %}
{% load static %}

{% block menu %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:create' %}">Create Announcements</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
 <h1 class="text-center" >Announcements</h1><br/><hr>
    {% for announcement in announcements %}
        <h2>Title: {{ announcement.title }}</h2>
        <h2>Category: {{ announcement.category }}</h2>
        <h3><a href="{% url 'webapp:info' announcement.pk %}">More...</a></h3><br/>
        <hr>
    {% endfor %}
    {% include 'partial/pagination.html' %}
{% endblock %}